h1 { /* on top of content */
	margin: 0px 0px 0px 0px;
	color: #5a1319;
	font-size: 24px;
	text-align: left;
	line-height: 1em;
}

h2 { /* on top of content */
	margin: 0px 0px 0px 0px;
	color: #5a1319;
	font-size: 20px;
	text-align: center;
	padding-left: 10%;
	font-weight: normal;
}

h3 { /* inside content */
	margin: 10px 0px;
	color: #5a1319;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
}

#printHeader a {
	color: #5a1319;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	display: block;
	padding: 4px 25px 0 0;
	float: right;
}

.hotlineTeaser {
	padding: 11px 11px 6px 11px;
	background: #5a1319;
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

.hotlineTeaser .hotlineText {
	background: url(../images/hotline-text-deco.png) no-repeat;
	height: 27px;
	color: #e9e6d5;
	font-size: 17px;
	line-height: 1.5em;
}

.hotlineTeaser .hotlineNumber {
	color: #ffffff;
	margin-top: 5px;
	font-size: 19px;
	padding-right: 5px;
}

.gfsLogo {
	margin-left: 83px;
	margin-top: 20px;
	margin-bottom: 30px;
	background: url(../images/gfs_logo.png) no-repeat;
	width: 42px;
	height: 40px;
}

#contentLeft p {
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
	line-height: 1.5em;
}

#content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#content ul li {
	padding-left: 15px;
	background: url(../images/list-bullet.png) no-repeat -3px 6px;
	line-height: 1.6em;
	font-style: italic;
	font-weight: bold;
}