body {
	font-family: Verdana, Arial;
	font-size: 15px;
	position: relative;
}

#mainContainer {
	border: 2px solid #d1d2d4;
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
}

#topMenu {
	background: #5a1319;
}

#logo {
	height: 226px;
	width: 245px;
	float: left;
	background: url(../images/logo.png) no-repeat;
}

#keyvisual {
	height: 225px;
	width: 655px;
	float: left;
	background: url(../images/keyvisual_1.png) no-repeat;
}

#middle {
	background-position: right 0px top 0px;
	background-repeat: no-repeat;
}

#menu-and-content {
	position: relative;
	min-height: 500px;
}

#printHeader {
	height: 32px;
}

#leftMenu {
	width: 235px;
	background: #5a1319;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

#content {
	width: 665px;
	padding-left: 235px;
}

#contentLeft {
	width: 405px;
	padding: 0 22px 0 43px;
	float: left;
}

#contentRight {
	width: 195px;
	background: blue;
	float: left;
}

.clearFloat {
	clear: both;
}
